<div>
  <h1>*ngFor</h1>
  <input type="text" required [(ngModel)]="newName"/>
  <button (click)="addName()">Add name</button>
  <ul>
    <li *ngIf="names.length==0">No hay nombres</li>
    <li *ngFor="let name of names; index as i">
        {{i}} {{name}}
        <button (click)="deleteName(i)" > X</button>
    </li>
  </ul>
</div>

<div>
  <h1>Prueba *ngIf</h1>
  <input type="text" required [(ngModel)]="person.name"/>
  <p *ngIf="person.name === 'Diego'">Soy Diego</p>
  <p *ngIf="person.name === 'Julian' && person.age == 18; else myBlock ">Soy Julian</p>

  <ng-template #myBlock>
    <p>Bloque else</p>
  </ng-template>

</div>


<div>
  <h1>Prueba NG Model</h1>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
  <p>valid: {{nameInput.valid}} </p>
  <input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
  <p>valid: {{ageInput.valid}} </p>
</div>

<div class="box" (scroll)="onScroll($event)">
  <p>El 13 de agosto de 1999 fue asesinado en Bogotá por dos sicarios cerca de los estudios de la emisora
    Radionet donde trabajaba. En diferentes ocasiones, Garzón había expresado que era víctima de amenazas
    de muerte. Durante el proceso judicial, la defensa argumentó que hubo desviaciones en la investigación
    por parte del Departamento Administrativo de Seguridad (DAS), antiguo organismo de seguridad del estado,
    en conveniencia con reconocidos políticos y miembros de las Fuerzas Militares</p>
</div>

<input type="text" [value]="person.name" (keyup)="changeEvent($event)"/>
<p>Nombre : {{person.name}} </p>


<h1>Propiedades</h1>
<button [disabled]="btnSDisabled">Send</button>
<button (click)="toggleButton()">Toggle Button</button>

<button (click)="increaseAge()">Incrementar Edad</button>
<p>Edad : {{ person.age }} </p>


<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age" ></progress>
<img width="100" [src]="person.avatar" />


<hr/>
<h1>Hola mundo</h1>
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<h3>Hola soy {{name}} y tengo {{ person.age }}</h3>
<img src="{{img}}" alt="image">

